.logo {
  max-width: 100px;
}

.image {
  max-width: 335px;
  max-height: 190px;
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
}

h1 {
  margin-left: 100px;
  text-aling: inline-block;
  padding: 30px;
}

p {
  margin-top: 35px;

  word-spacing: normal;
}

/*bouton correction*/
#btndon {
  background: linear-gradient(white, #9198e5);

  margin: 20px 0px 20px 205px;
  text-align: center;
}
@media (max-width: 770px) {
  .image {
    text-align: center;
  }
}

@media (max-width: 770px) {
  #nuage {
    display: none;
  }
}
/*bas de page*/
footer {
  margin-top: 80px;
  background: linear-gradient(white, #9198e5);
  height: 130px;
}

ul {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.social {
  text-align: center;
  text-justify-content: align;
}

.btn {
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  background: linear-gradient(white, #9198e5);
}

#carouselExampleCaptions {
  image-center: auto;
}

#image-foot {
  border-radius: 10px;
  padding: 20px;
}

span {
  text-align: center;
  padding: 40px;
  font-size: 30px;
}

.para {
  margin-top: 20px;
}

.carousel {
  margin-top: 30px;
  border-radius: 20px;
}
