/*logo*/
.logo {
  max-width: 100px;
}
/*Titre principal*/
h1 {
  padding: 30px;
  text-align: center;
}
/*Paragraphe*/
p {
  padding: 20px;
}
/*formulaire déroulant*/
.accordion-body {
  border: 1px solid transparent;
  max-width: 400px;
  min-width: 350px;
  text-align: center;
}

#collapseThree {
  text-align: center;
}

#formulaire {
  text-align: center;
  font-size: 20px;
  min-width: 374px;
  max-width: auto;
  max-height: 150px;

  background: light-blue;
}

#formP {
  text-align: center;
}
/*Titre de plus bas niveau*/

h3 {
  padding: 30px;
  text-align: center;
}
h4 {
  text-align: center;
}

h5 {
  text-align: center;
  padding: 50px;
  font-size: 33px;
}

/*Fonction clignote*/
.clignote {
  color: green;
  animation: clignote 2s linear infinite;
}
@keyframes clignote {
  50% {
    opacity: 0;
  }
}
.clignote1 {
  color: blue;
  animation: clignote 1s linear infinite;
}
@keyframes clignote {
  50% {
    opacity: 0;
  }
}
/*Fonction responsive*/
.consentement {
  text-justify: center;
}
@media (max-width: 600px) {
  #nuage {
    display: none;
  }
}

#titre {
  margin-left: 20px;
}
/*liste bas de page responsive*/
footer {
  margin-top: 30px;
  background: linear-gradient(white, #9198e5);
  height: 110px;
}

ul {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.social {
  text-align: center;
  text-justify-content: align;
}
/*Boutons*/
.btn {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  text-align: center;
  background: linear-gradient(white, #9198e5);
  text-font-sizes: 20px;
}
/*carrousel bas de page*/
.carousel-inner {
  padding: 30px;
}

img {
  size: 500px;
}
/* class card bas de page*/
.card-body {
  background: linear-gradient(white, #9198e5);
  font-size: 23px;
  text-align: center;
  border-radius: 10px;
}

.card {
  text-align: center;
  font-size: 23px;
}
