.logo {
  max-width: 100px;
}

p {
  text-aling: left;
  text-justify-content: center;
  margin: 20px;
}

.image {
  max-width: 400px;
  max-height: 200px;
  box-shadow: 3px 3px 3px black;
  margin-top: 50px;
  border-radius: 10px;
}

h1 {
  margin-left: 100px;
  text-aling: inline-block;
  padding: 30px;
}
#btndon {
  background: linear-gradient(white, #9198e5);
  padding: 10px;
  margin: 20px;
}

.consentement {
  text-justify: center;
}
@media (max-width: 600px) {
  #nuage {
    display: none;
  }
}
footer {
  margin-top: 80px;
  background: linear-gradient(white, #9198e5);
  height: 130px;
}

ul {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.social {
  text-align: center;
  text-justify-content: align;
}

.btn {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  padding: 50px;
  background: linear-gradient(white, #9198e5);
  text-font-sizes: 20px;
}

#image-foot {
  border-radius: 10px;
  padding: 20px;
}

#btnins {
  margin-left: 30px;
}

span {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.carousel {
  margin-top: 30px;
  border-radius: 20px;
}
